#cart-div button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  max-width: 150px;
}

.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buy-now-button {
  background-color: pink !important;
}
