<section id="popular-books" class="bookshelf py-5 my-5" on>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <h2 class="section-title">Our Books</h2>
          <input type="text" placeholder="Search a book by title..." onkeypress="BookService.getBookByTitle()"
            id="book-searcher" />
        </div>

        <ul class="tabs" id="bookCategoryTabs">
          <li data-tab-target="#all-genre" onclick="BookService.getAllBooks()" class="active tab">
            All Genre
          </li>
          <li data-tab-target="#all-genre" class="tab" onclick="BookService.getBooksByCategory('Fiction')">
            Fiction
          </li>
          <li data-tab-target="#all-genre" onclick="BookService.getBooksByCategory('Non-Fiction')" class="tab">
            Non-Fiction
          </li>
          <li data-tab-target="#all-genre" onclick="BookService.getBooksByCategory('Technology')" class="tab">
            Technology
          </li>
          <li data-tab-target="#all-genre" onclick="BookService.getBooksByCategory('Business')" class="tab">
            Business
          </li>
          <li data-tab-target="#all-genre" onclick="BookService.getBooksByCategory('Science-Fiction')" class="tab">
            Science-Fiction
          </li>
          <li data-tab-target="#all-genre" onclick="BookService.getBooksByCategory('Adventure')" class="tab">
            Adventure
          </li>
        </ul>

        <div class="tab-content">
          <div id="all-genre" class="active">
            <div class="row" id="bookshelf" onload="BookService.getAllBooks()"></div>
          </div>

          <!-- Additional genre tabs will continue here -->
        </div>
        <!--inner-tabs-->
      </div>
    </div>
  </div>
</section>

<script>
  BookService.getAllBooks();
</script>

<script>
  NavbarService.__init();
</script>

<script>
  BookService.updateBooks();
</script>